---
layout: default
---
<div class="site-content">
  <div class="content">
    <div class="row">
      <div class="col-xs-12">
        <h1>Title of the Post or Content</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <img class="card-img-top" src="http://res.cloudinary.com/wildworld/image/upload/v1442834354/szkr4fhnrpi7iwa6g41s.jpg" alt="Detail Page Image">
          <div class="card-block">
            <p class="card-text"><small class="text-muted">Posted 5 days ago</small></p>
            <div class="card-text">
              <p class="text-right">
                <span class="label label-pill label-primary"><i class="fa fa-thumbs-up"></i> 1,176</span>
                <span class="label label-pill label-info"><i class="fa fa-comments-o"></i> 15</span>
              </p>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo consectetur corrupti dignissimos commodi fuga expedita! Aliquid, repellat. Obcaecati, assumenda. Ipsam, laudantium? Labore dignissimos voluptate eos, quas iusto nihil eligendi
                omnis.
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo consectetur corrupti dignissimos commodi fuga expedita! Aliquid, repellat. Obcaecati, assumenda. Ipsam, laudantium? Labore dignissimos voluptate eos, quas iusto nihil eligendi
                omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat error illum, sequi tempore. Nisi fuga ab error animi nesciunt nulla quisquam ut, ea asperiores, cum labore explicabo quia magnam quae.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo consectetur corrupti dignissimos commodi fuga expedita! Aliquid, repellat. Obcaecati, assumenda. Ipsam, laudantium? Labore dignissimos voluptate eos, quas iusto nihil eligendi
                omnis.
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo consectetur corrupti dignissimos commodi fuga expedita! Aliquid, repellat. Obcaecati, assumenda. Ipsam, laudantium? Labore dignissimos voluptate eos, quas iusto nihil eligendi
                omnis.
              </p>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="#" type="button" class="btn btn-secondary"><i class="fa fa-lg fa-facebook"></i></a>
              <a href="#" type="button" class="btn btn-secondary"><i class="fa fa-lg fa-twitter"></i></a>
              <a href="#" type="button" class="btn btn-secondary"><i class="fa fa-lg fa-google-plus"></i></a>
              <a href="#" type="button" class="btn btn-secondary"><i class="fa fa-lg fa-envelope"></i></a>
            </div>
          </div>
          <div class="card-footer text-right">
            <div class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Like</div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <article class="card card-discussion">
          <div class="card-header bg-info text-left">
            <h4>Discuss</h4>
          </div>
          <div class="card-block">
            <form class="comment-form">
              <fieldset class="form-group">
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Tell the community what you think"></textarea>
              </fieldset>
              <button type="submit" class="btn btn-info btn-block"><i class="fa fa-lg fa-comments-o"></i> Post Comment</button>
            </form>
          </div>
          <hr>
          <div class="card-block">

            <div class="row">
              <div class="col-xs-2">
                <img class="img-circle" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="Commenter Avatar">
              </div>
              <div class="col-xs-10 speech-bubble">
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam architecto recusandae excepturi asperiores earum, amet nemo tempora minima ducimus. Nam nemo, explicabo recusandae quas aperiam blanditiis ut consectetur, minima accusamus!</p>
              </div>
              <div class="col-xs-12 text-right">
                <p><em><small>By <a href="profile.html">BillMcGee</a>, Today</em></small>
                </p>
                <hr>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-10 speech-bubble">
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam architecto recusandae excepturi asperiores earum, amet nemo tempora minima ducimus. Nam nemo, explicabo recusandae quas aperiam blanditiis ut consectetur, minima accusamus!</p>
              </div>
              <div class="col-xs-2">
                <img class="img-circle" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="Commenter Avatar">
              </div>
              <div class="col-xs-12 text-left">
                <p><em><small>By <a href="profile.html">BillMcGee</a>, Today</em></small>
                </p>
                <hr>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-2">
                <img class="img-circle" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="Commenter Avatar">
              </div>
              <div class="col-xs-10 speech-bubble">
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam architecto recusandae excepturi asperiores earum, amet nemo tempora minima ducimus. Nam nemo, explicabo recusandae quas aperiam blanditiis ut consectetur, minima accusamus!</p>
              </div>
              <div class="col-xs-12 text-right">
                <p><em><small>By <a href="profile.html">BillMcGee</a>, Today</em></small>
                </p>
                <hr>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-10 speech-bubble">
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam architecto recusandae excepturi asperiores earum, amet nemo tempora minima ducimus. Nam nemo, explicabo recusandae quas aperiam blanditiis ut consectetur, minima accusamus!</p>
              </div>
              <div class="col-xs-2">
                <img class="img-circle" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="Commenter Avatar">
              </div>
              <div class="col-xs-12 text-left">
                <p><em><small>By <a href="profile.html">BillMcGee</a>, Today</em></small>
                </p>
                <hr>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-2">
                <img class="img-circle" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="Commenter Avatar">
              </div>
              <div class="col-xs-10 speech-bubble">
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam architecto recusandae excepturi asperiores earum, amet nemo tempora minima ducimus. Nam nemo, explicabo recusandae quas aperiam blanditiis ut consectetur, minima accusamus!</p>
              </div>
              <div class="col-xs-12 text-right">
                <p><em><small>By <a href="profile.html">BillMcGee</a>, Today</em></small>
                </p>
                <hr>
              </div>
            </div>

          </div>
        </article>
      </div>
      <div class="col-xs-12">
        <hr>
        <h2>Related Items:</h2>
        <hr>
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-6">
            {% include card-social-post.html %}
          </div>
          <div class="col-md-6">
            {% include card-social-post.html %}
          </div>
          <div class="col-md-6">
            {% include card-social-post.html %}
          </div>
          <div class="col-md-6">
            {% include card-social-post.html %}
          </div>
          <div class="col-md-6">
            {% include card-social-post.html %}
          </div>
          <div class="col-md-6">
            {% include card-social-post.html %}
          </div>
        </div>
      </div>

    </div>
  </div>
