---
layout: default
---
<div class="site-content">
  <div class="content">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-primary">Detail Title Of Thing or Story</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <img class="card-img-top" src="http://res.cloudinary.com/wildworld/image/upload/v1442658590/pwvfoyie7uzbxdqns66b.jpg" alt="Detail Page Image">
          <div class="card-block">
            <p class="card-text"><small class="text-muted">Posted 4 days ago</small></p>
            <div class="card-text">
              <p class="text-right">
                <span class="label label-pill label-primary"><i class="fa fa-thumbs-up"></i> 1,176</span>
                <span class="label label-pill label-info"><i class="fa fa-comments-o"></i> 15</span>
              </p>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo consectetur corrupti dignissimos commodi fuga expedita! Aliquid, repellat. Obcaecati, assumenda. Ipsam, laudantium? Labore dignissimos voluptate eos, quas iusto nihil eligendi
                omnis.
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo consectetur corrupti dignissimos commodi fuga expedita! Aliquid, repellat. Obcaecati, assumenda. Ipsam, laudantium? Labore dignissimos voluptate eos, quas iusto nihil eligendi
                omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat error illum, sequi tempore. Nisi fuga ab error animi nesciunt nulla quisquam ut, ea asperiores, cum labore explicabo quia magnam quae.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo consectetur corrupti dignissimos commodi fuga expedita! Aliquid, repellat. Obcaecati, assumenda. Ipsam, laudantium? Labore dignissimos voluptate eos, quas iusto nihil eligendi
                omnis.
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo consectetur corrupti dignissimos commodi fuga expedita! Aliquid, repellat. Obcaecati, assumenda. Ipsam, laudantium? Labore dignissimos voluptate eos, quas iusto nihil eligendi
                omnis.
              </p>
            </div>
          </div>
          <div class="card-footer">
            social
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <article class="card card-discussion">
          <div class="card-header bg-info text-left">
            <h4>Discuss</h4>
          </div>
          <div class="card-block">
            <form class="comment-form">
              <fieldset class="form-group">
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Tell the community what you think"></textarea>
              </fieldset>
              <button type="submit" class="btn btn-info btn-block"><i class="fa fa-lg fa-comments-o"></i> Comment</button>
            </form>
          </div>
          <hr>
          <div class="card-block">
            <article class="card card-block bg-light bg-faded">
              <div class="card-text small">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam architecto recusandae excepturi asperiores earum, amet nemo tempora minima ducimus. Nam nemo, explicabo recusandae quas aperiam blanditiis ut consectetur, minima accusamus!</p>
                <img class="media-object img-circle" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="Commenter Avatar">
                <p><em>By <a href="profile.html">BillMcGee</a>, 3 min ago</em></p>
              </div>
            </article>
            <article class="card card-block">
              <div class="card-text small">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam architecto recusandae excepturi asperiores earum, amet nemo tempora minima ducimus. Nam nemo, explicabo recusandae quas aperiam blanditiis ut consectetur, minima accusamus!</p>
                <img class="media-object img-circle" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="Commenter Avatar">
                <p><em>By <a href="profile.html">BillMcGee</a>, 3 min ago</em></p>
              </div>
            </article>
            <article class="card bg-faded card-block">
              <div class="card-text small">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam architecto recusandae excepturi asperiores earum, amet nemo tempora minima ducimus. Nam nemo, explicabo recusandae quas aperiam blanditiis ut consectetur, minima accusamus!</p>
                <img class="media-object img-circle" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="Commenter Avatar">
                <p><em>By <a href="profile.html">BillMcGee</a>, 3 min ago</em></p>
              </div>
            </article>
            <article class="card card-block">
              <div class="card-text small">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam architecto recusandae excepturi asperiores earum, amet nemo tempora minima ducimus. Nam nemo, explicabo recusandae quas aperiam blanditiis ut consectetur, minima accusamus!</p>
                <img class="media-object img-circle" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="Commenter Avatar">
                <p><em>By <a href="profile.html">BillMcGee</a>, 3 min ago</em></p>
              </div>
            </article>
            <article class="card bg-faded card-block">
              <div class="card-text small">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam architecto recusandae excepturi asperiores earum, amet nemo tempora minima ducimus. Nam nemo, explicabo recusandae quas aperiam blanditiis ut consectetur, minima accusamus!</p>
                <img class="media-object img-circle" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="Commenter Avatar">
                <p><em>By <a href="profile.html">BillMcGee</a>, 3 min ago</em></p>
              </div>
            </article>

          </div>
        </article>
      </div>

      <div class="col-xs-12">
        <h2 class="card-title">Related Things</h2>
        <hr>
        <div class="row">
          <div class="col-md-6">
            {% include card-social-post.html %}
          </div>
          <div class="col-md-6">
            {% include card-social-post.html %}
          </div>
          <div class="col-md-6">
            {% include card-social-post.html %}
          </div>
          <div class="col-md-6">
            {% include card-social-post.html %}
          </div>
          <div class="col-md-6">
            {% include card-social-post.html %}
          </div>
          <div class="col-md-6">
            {% include card-social-post.html %}
          </div>
        </div>
      </div>

    </div>
  </div>
