---
layout: default
---
  <div class="profile-hero"></div>
  <div class="site-content">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4 text-center profile-header">
        <img class="img-circle img-thumbnail" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="Profile Image" />
        <h1>BillMcGee</h1>
        <button type="submit" class="btn btn-sm btn-secondary">Following <i class="fa fa-user-times"></i></button>
      </div>
      <div class="col-xs-12">
        <hr>
        <h3 class="text-center">
          @BillMcGee's Feed:
        </h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4">
        {% include card-social-post.html %}
      </div>
      <div class="col-md-6 col-lg-4">
        {% include card-social-post.html %}
      </div>
      <div class="col-md-6 col-lg-4">
        {% include card-social-post.html %}
      </div>
      <div class="col-md-6 col-lg-4">
        {% include card-social-post.html %}
      </div>
      <div class="col-md-6 col-lg-4">
        {% include card-social-post.html %}
      </div>
      <div class="col-md-6 col-lg-4">
        {% include card-social-post.html %}
      </div>
    </div>
  </div>
