---
layout: default
---
<div class="profile-hero"></div>
<div class="site-content">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 text-center profile-header">
      <img class="img-circle img-thumbnail" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="Profile Image" />
      <h1>BillMcGee</h1>
      <button type="submit" class="btn btn-sm btn-secondary">Following <i class="fa fa-user-times"></i></button>
      <button type="submit" class="btn btn-sm btn-primary">Edit Profile <i class="fa fa-cog"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p><i class="text-primary fa fa-lg fa-street-view"></i> : Bill McGee</p>
      <p><i class="text-primary fa fa-lg fa-map-marker"></i> : Fargo, North Dakota</p>
      <p><i class="text-primary fa fa-lg fa-tags"></i> : Camping, Hunting, Fishing, Bushcraft</p>
    </div>
    <div class="col-md-9">
      <p><i class="text-primary fa fa-lg fa-newspaper-o"></i> : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ut accusantium libero eveniet odit nobis temporibus! Optio consectetur, dolores nihil asperiores unde tenetur voluptates atque omnis
        aspernatur quod. Fugiat, minus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet suscipit quod accusantium iusto, ratione, iste voluptate natus illum quasi tempore illo voluptatibus sunt, quo impedit facere molestias nam alias est?</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <h3 class="text-center">@BillMcGee's Feed:</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      {% include card-social-post.html %}
    </div>
    <div class="col-md-6 col-lg-4">
      {% include card-social-post.html %}
    </div>
    <div class="col-md-6 col-lg-4">
      {% include card-social-post.html %}
    </div>
    <div class="col-md-6 col-lg-4">
      {% include card-social-post.html %}
    </div>
    <div class="col-md-6 col-lg-4">
      {% include card-social-post.html %}
    </div>
    <div class="col-md-6 col-lg-4">
      {% include card-social-post.html %}
    </div>
  </div>
</div>
