<article class="card card-social-post">
  <img class="card-img-top" src="http://res.cloudinary.com/wildworld/image/upload/c_scale,w_1200/v1442511225/pznqbs0zlhzzyxwy0kfe.jpg" alt="Card image cap" />
  <div class="card-block">
    <a href="contest-detail-page.html">
      <h4 class="card-title">
          This is the Title of a Contest Post
      </h4>
    </a>
    <hr>
    <p class="card-text"><small class="text-muted">Posted 3 mins ago in <a href="contest-detail-page.html">Camping Contest</a> </small></p>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptatem sint, animi nisi accusantium voluptatibus earum sunt consequuntur tempore facere inventore ex ullam qui corporis assumenda ut. Molestiae, suscipit alias!
    </p>
    <div class="text-right">
      <span class="label label-pill label-primary pull-right"><i class="fa fa-thumbs-up"></i> 25</span>
    </div>
  </br>
  </div>
  <div class="card-footer text-right">
    <a href="#" class="btn btn-info pull-left"><i class="fa fa-trophy"></i> 25<sup>th</sup></a>
    <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Like</a>
  </div>
</article>
