<article class="card card-discussion">
  <div class="card-header text-left">
    <h4>
        <a href="product-detail-page.html">Discussion Card</a>
        <div class="pull-right">
          <span class="label label-pill label-primary"><i class="fa fa-thumbs-up"></i> 1,176</span>
          <span class="label label-pill label-info"><i class="fa fa-comments-o"></i> 15</span>
        </div>
      </h4>
  </div>
  <div class="card-block row">
    <div class="col-md-12 original-post">
      <img class="img-rounded" src="http://res.cloudinary.com/wildworld/image/upload/v1442453604/upk2mi70yc3maw2kqebq.jpg" alt="Discussion Image" />
      <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore incidunt...</p>
    </div>
    <div class="col-md-12">

      <article class="card card-block">
        <div class="media card-text">
          <a href="profile.html" class="media-left">
            <img class="media-object img-circle" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="avatar" />
          </a>
          <div class="media-body small">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam architecto recusandae excepturi asperiores earum, amet nemo tempora minima ducimus. Nam nemo, explicabo recusandae quas aperiam blanditiis ut consectetur, minima accusamus!</p>
            <p><em>By <a href="profile.html">BillMcGee</a>, 3 min ago</em></p>
          </div>
        </div>
      </article>

      <article class="card card-block">
        <div class="media card-text">
          <a href="profile.html" class="media-left">
            <img class="media-object img-circle" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="avatar" />
          </a>
          <div class="media-body small">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, eveniet, quibusdam. Minus culpa adipisci non nulla quasi, sit quam deleniti voluptates, modi consequatur rerum, mollitia omnis. Vitae quasi, voluptas aperiam.</p>
            <p><em>By  <a href="profile.html">BillMcGee</a>, 3 min ago</em></p>
          </div>
        </div>
      </article>

      <p><a href="product-detail-view.html">Read All Comments</a> </p>

      <form class="comment-form">
        <fieldset class="form-group">
          <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Tell the community what you think"></textarea>
        </fieldset>
        <button type="submit" class="btn btn-info btn-block"><i class="fa fa-lg fa-comments-o"></i> Comment</button>
      </form>
    </div>
  </div>
  <div class="card-footer text-right">
    <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Like</a>
  </div>
</article>
