<article class="card card-follow">
  <img class="card-img-top" src="http://res.cloudinary.com/wildworld/image/asset/c_scale,w_500/v1438899311/website/cover_02_1680x1050.jpg" alt="User Profile Background Thumbnail" />
  <div class="card-block">
    <a href="profile.html">
      <img src="http://res.cloudinary.com/wildworld/image/upload/v1442856130/xyrytyhvevfuzdltuhvl.jpg" alt="User Avatar"/>
    </a>
    <h6><a href="profile.html">@RalphWiggum</a></h6>
  </div>
  <div class="card-footer small text-center">
    <a href="#" class="btn btn-sm btn-primary-outline">
      <i class="fa fa-user-plus"></i> Follow
    </a>
  </div>
</article>
