<article class="card card-discussion">
  <div class="card-header text-left">
    <h4>
      <a href="product-detail-page.html">Discussion Card</a>
    </h4>
  </div>
  <div class="card-block row">
    <div class="col-xs-12 original-post">
      <img class="img-rounded" src="http://res.cloudinary.com/wildworld/image/upload/v1442453604/upk2mi70yc3maw2kqebq.jpg" alt="Discussion Image" />
      <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore incidunt...</p>
    </div>
    <div class="col-xs-12">
      <article class="card card-block">
        <div class="card-text small">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam architecto recusandae excepturi asperiores earum, amet nemo tempora minima ducimus. Nam nemo, explicabo recusandae quas aperiam blanditiis ut consectetur, minima accusamus!</p>
          <img class="media-object img-circle" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="Commenter Avatar">
          <p><em>By <a href="profile.html">BillMcGee</a>, 3 min ago</em></p>
        </div>
      </article>
      <article class="card card-block">
        <div class="card-text small">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam architecto recusandae excepturi asperiores earum, amet nemo tempora minima ducimus. Nam nemo, explicabo recusandae quas aperiam blanditiis ut consectetur, minima accusamus!</p>
          <img class="media-object img-circle" src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="Commenter Avatar">
          <p><em>By <a href="profile.html">BillMcGee</a>, 3 min ago</em></p>
        </div>
      </article>

      <p class="text-right"><a href="product-detail-page.html">
        Read All Comments <i class="fa fa-chevron-circle-right"></i></a>
      </p>

      <form class="comment-form">
        <fieldset class="form-group">
          <textarea class="form-control" id="comment-text-area" rows="3" placeholder="Tell the community what you think"></textarea>
        </fieldset>
        <button type="submit" class="btn btn-info btn-block"><i class="fa fa-lg fa-comments-o"></i> Comment</button>
      </form>

      <p class="text-right">
        <span class="label label-pill label-primary"><i class="fa fa-thumbs-up"></i> 1,176</span>
        <span class="label label-pill label-info"><i class="fa fa-comments-o"></i> 15</span>
      </p>
    </div>
  </div>
  <div class="card-footer text-right">
    <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Like</a>
  </div>
</article>
