<article class="card card-product">
  <img class="card-img-top" data-src="http://res.cloudinary.com/wildworld/image/upload/v1442585746/btbzeknmd9k8qigcjdwb.jpg" src="http://res.cloudinary.com/wildworld/image/upload/v1442585746/btbzeknmd9k8qigcjdwb.jpg" alt="Product Title" />
  <div class="card-block">
    <h4 class="card-title"><a href="/product-product-detail-page.html">This is the Title of a Product Card</a></h4>
    <hr>
    <p class="card-text"><small class="text-muted">Posted 3 mins ago </small></p>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptatem sint, animi nisi accusantium voluptatibus earum sunt consequuntur tempore facere inventore ex ullam qui corporis assumenda ut. Molestiae, suscipit alias!
      <div class="collapse" id="collapseExample">
        <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur `adipisicing` elit. Doloribus odit dolor aliquam voluptatibus impedit libero labore reiciendis porro voluptates saepe, officiis, sunt unde distinctio explicabo consectetur maiores ad ipsam esse!
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cumque ea tempora nemo rem aspernatur illum expedita quis atque aliquid sunt distinctio iure dolorem fugit optio maxime, pariatur, earum sequi!</p>
      </div>
      <a class="small" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Full Description
      </a>
    </p>
    <div class="text-right">
      <span class="label label-pill label-primary"><i class="fa fa-thumbs-up"></i> 225</span>
    </div>
  </div>
  <div class="card-footer text-right">
    <a href="#" class="pull-left btn btn-success-outline"><i class="fa fa-shopping-cart"></i> Buy!</a>
    <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Like</a>
  </div>
</article>
