<div class="card card-achievements">
  <div class="card-header">
    <p class="card-title">
      <i class="fa fa-trophy"></i> Achievements
    </p>
  </div>
  <div class="card-block bg-inverse achievement-percentage">
    <p class="text-center"><i class="fa fa-diamond"></i> Pro Status Progress</p>
    <progress class="progress progress-success progress-striped progress-animated" value="33" max="100">33%</progress>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Get Started
      <a href="#" class="btn btn-success btn-sm pull-right">Do it! <i class="fa fa-check-square-o"></i></a>
    </li>
    <li class="list-group-item">Update Profile
      <a href="#" class="btn btn-success btn-sm pull-right">Do it! <i class="fa fa-check-square-o"></i></a>
    </li>
    <li class="list-group-item">Follow Someone
      <a href="#" class="btn btn-success btn-sm pull-right">Do it! <i class="fa fa-check-square-o"></i></a>
    </li>
    <li class="list-group-item">Like A Post
      <a href="#" class="btn btn-success btn-sm pull-right">Do it! <i class="fa fa-check-square-o"></i></a>
    </li>
    <li class="list-group-item">Create A Post
      <a href="#" class="btn btn-success btn-sm pull-right">Do it! <i class="fa fa-check-square-o"></i></a>
    </li>
    <li class="list-group-item">Save Account
      <a href="#" class="btn btn-success btn-sm pull-right">Do it! <i class="fa fa-check-square-o"></i></a>
    </li>
  </ul>
</div>
