<article class="card card-gallery">
  <div class="card-header text-left">
    <h4 class="card-title">
      <a href="product-detail-page.html">Gallery Card when Post has Multiple Pictures</a>
    </h4>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="http://res.cloudinary.com/wildworld/image/upload/c_scale,w_600/v1442852839/x93uqlyhidx9lbitbsps.jpg" class="img-rounded" alt="Product Title" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="http://res.cloudinary.com/wildworld/image/upload/c_scale,w_600/v1442827814/nh7zqmubcgoes5x94euf.jpg" class="img-rounded" alt="Product Title" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="http://res.cloudinary.com/wildworld/image/upload/c_scale,w_600/v1442585746/btbzeknmd9k8qigcjdwb.jpg" class="img-rounded" alt="Product Title" />
      </div>
    </div>
    <div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="http://res.cloudinary.com/wildworld/image/upload/c_scale,w_600/v1442780137/j0rge2gow1qv66gdqbyl.jpg" class="img-rounded" alt="Product Title" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="http://res.cloudinary.com/wildworld/image/upload/c_scale,w_600//v1442696603/m5hlhgr34l3jrgzoxdpq.jpg" class="img-rounded" alt="Product Title" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="http://res.cloudinary.com/wildworld/image/upload/c_scale,w_600/v1442758146/ddpf44wxfvmgjkewdkmt.jpg" class="img-rounded" alt="Product Title" />
        </div>
      </div>
    </div>
    <hr>
    <div class="card-block">
      <p class="card-text"><small class="text-muted">Posted 3 mins ago </small></p>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptatem sint, animi nisi accusantium voluptatibus earum sunt consequuntur tempore facere inventore ex ullam qui corporis assumenda ut. Molestiae, suscipit alias! <a href="product-detail-page.html">
    Read More <i class="fa fa-chevron-circle-right"></i></a>
      </p>
      <div class="text-right">
        <span class="label label-pill label-primary"><i class="fa fa-thumbs-up"></i> 225</span>
      </div>
    </div>
    <div class="card-footer text-right">
      <a href="#" class="pull-left btn btn-success-outline"><i class="fa fa-shopping-cart"></i> Buy!</a>
      <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Like</a>
    </div>
</article>
