<article class="card card-product">
  <img class="card-img-top" src="./images/map.png"  />
  <div class="card-block">
    <h4 class="card-text text-center">Looks like you are near Pasadena, CA! Is this right? <a href="product-detail-page.html">
    </h4>
  </div>
  <div class="card-footer text-right">
    <a href="#" class="pull-left btn btn-secondary">Pick <i class="fa fa-map-marker"></i></a>
    <a href="/select-interests.html" class="btn btn-primary">Thats Right! <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</article>
