<article class="card card-collection">
  <div class="card-header text-left">
    <h4 class="card-title">
      <a href="product-detail-page.html">Collection Title</a>
    </h4>
  </div>
  <div class="card-block">
    <div class="row">

      <div class="col-md-6">
        <article class="card card-collection-item">
          <span class="label label-pill label-primary"><i class="fa fa-thumbs-up"></i> 225</span>
          <img class="card-img-top" src="http://res.cloudinary.com/wildworld/image/upload/v1442940763/production/posts/ppiu3hj1hz8nddeig4jh.jpg" alt="Product Title" />
          <div class="card-block">
            <div class="text-right mini-like-button">
              <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i></a>
            </div>
          </div>
          <div class="card-footer">
            <p class="card-title"><a href="product-detail-page.html">Title of Post inside a Collection?</a></p>
          </div>
        </article>
      </div>
      <div class="col-md-6">
        <article class="card card-collection-item">
          <span class="label label-pill label-primary"><i class="fa fa-thumbs-up"></i> 225</span>
          <img class="card-img-top" src="http://res.cloudinary.com/wildworld/image/upload/v1442927497/zvqwxbtjlzxissblfjrg.jpg" alt="Product Title" />
          <div class="card-block">
            <div class="text-right mini-like-button">
              <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i></a>
            </div>
          </div>
          <div class="card-footer">
            <p class="card-title"><a href="product-detail-page.html">Title of Post inside a Collection?</a></p>
          </div>
        </article>
      </div>

      <div class="clearfix"></div>

      <div class="col-md-6">
        <article class="card card-collection-item">
          <span class="label label-pill label-primary"><i class="fa fa-thumbs-up"></i> 225</span>
          <img class="card-img-top" src="http://res.cloudinary.com/wildworld/image/upload/v1442819558/pybk8h3sffwwzbes2zfq.jpg" alt="Product Title" />
          <div class="card-block">
            <div class="text-right mini-like-button">
              <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i></a>
            </div>
          </div>
          <div class="card-footer">
            <p class="card-title"><a href="product-detail-page.html">Title of Post inside a Collection?</a></p>
          </div>
        </article>
      </div>
      <div class="col-md-6">
        <article class="card card-collection-item">
          <span class="label label-pill label-primary"><i class="fa fa-thumbs-up"></i> 225</span>
          <img class="card-img-top" src="http://res.cloudinary.com/wildworld/image/upload/c_scale,w_1200/v1442585746/btbzeknmd9k8qigcjdwb.jpg" alt="Product Title" />
          <div class="card-block">
            <div class="text-right mini-like-button">
              <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i></a>
            </div>
          </div>
          <div class="card-footer">
            <p class="card-title"><a href="product-detail-page.html">Title of Post inside a Collection?</a></p>
          </div>
        </article>
      </div>


    </div>
  </div>

  <div class="card-block">
    <p class="card-text"><small class="text-muted">Posted 3 mins ago </small></p>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptatem sint, animi nisi accusantium voluptatibus earum sunt consequuntur tempore facere inventore ex ullam qui corporis assumenda ut. Molestiae, suscipit alias! <a href="product-detail-page.html">
    Read More <i class="fa fa-chevron-circle-right"></i></a>
    </p>
    <div class="text-right">
      <span class="label label-pill label-primary"><i class="fa fa-thumbs-up"></i> 225</span>
    </div>
  </div>
  <div class="card-footer text-right">
    <a href="#" class="pull-left btn btn-success-outline"><i class="fa fa-shopping-cart"></i> Buy!</a>
    <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Like</a>
  </div>
</article>
