<article class="card profile-preview">
  <img class="card-img-top" data-src="http://res.cloudinary.com/wildworld/image/asset/v1438899310/website/cover_01_1680x1050.jpg" src="http://res.cloudinary.com/wildworld/image/asset/v1438899310/website/cover_01_1680x1050.jpg" alt="Profile Background" />
  <div class="card-block">
    <img src="http://res.cloudinary.com/wildworld/image/upload/v1442547270/ze4fm3malsgtyslgamk0.jpg" alt="Profile Avatar Thumbnail" class="img-thumbnail profile-thumbnail">
    <div class="text-center">
      <h5 class="card-text">
        <a href="profile.html" class="card-link">@BillMcGee</a>
      </h5>
      <hr>
      <span class="label label-pill label-primary"><i class="fa fa-thumbs-up"></i>  1140</span>
      <span class="label label-pill label-primary"><i class="fa fa-users"></i> 233</span>
      <span class="label label-pill label-primary"><i class="fa fa-cloud-upload"></i> 75</span>
    </div>
  </div>
  <div class="card-footer text-center">
    <a href="" class="btn btn-sm btn-secondary">Achievements <i class="fa fa-refresh"></i></a>
  </div>
</article>
