<nav class="navbar navbar-default navbar-dark bg-inverse navbar-fixed-bottom hidden-md-up">
  <form class="navbar-form form-inline pull-right">
    <div class="form-group" style="margin-bottom:0;">
      <label class="sr-only" for="search">Search</label>
      <div class="input-group">
        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search products...">
        <div class="input-group-addon">
          <a role="button" type="submit"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>
  </form>
</nav>
