<nav class="navbar navbar-default navbar-dark bg-inverse navbar-fixed-top">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#ww-main-navigation">
    <i class="fa fa-list"></i>
  </button>
  <div class="collapse navbar-toggleable-xs" id="ww-main-navigation">
    <a class="navbar-brand hidden-sm-down" href="index.html"><img src="http://a3.res.cloudinary.com/wildworld/image/asset/v1/website/v5_brandname_red_2x.png" alt=""></a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="contests.html"><i class="fa fa-lg fa-star"></i> Contests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="discussions.html"><i class="fa fa-lg fa-comments-o"></i> Discussions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="products.html"><i class="fa fa-lg fa-cubes"></i> Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="discover.html"><i class="fa fa-lg fa-lightbulb-o"></i> Discover</a>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item hidden-sm-down">
        <a class="nav-link btn btn-sm btn-success" role="button" href="create.html"><i class="fa fa-lg fa-cloud-upload"></i> Create<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item hidden-sm-down">
        <a class="nav-link btn btn-sm btn-primary" role="button" href="#"><i class="fa fa-lg fa-power-off"></i><span class="sr-only">Log In</span></a>
      </li>
    </ul>
  </div>
</nav>
