// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             #c33;
$brand-success:             #0a6f0a;
$brand-info:                #80c1d4;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               true;
$enable-rounded:            true;
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true;
$enable-hover-media-query:  true;
$enable-grid-classes:       true;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               18 !default;
$grid-gutter-width:          1rem !default;
