// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             #CC3333;
$brand-success:             #29A329;
$brand-info:                #217c7c;
$brand-warning:             #CC7833;
$brand-danger:              #800101;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               false;
$enable-rounded:            true;
$enable-shadows:            false;
$enable-gradients:          true;
$enable-transitions:        true;
$enable-hover-media-query:  true;
$enable-grid-classes:       true;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          1rem !default;


// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.

$state-success-text:             $brand-success !default;
$state-success-bg:               lighten($brand-success, 40%) !default;
$state-success-border:           darken($state-success-bg, 20%) !default;

$state-info-text:                $brand-info !default;
$state-info-bg:                  lighten($brand-info, 40%) !default;
$state-info-border:              darken($state-info-bg, 20%) !default;

$state-warning-text:             $brand-warning !default;
$state-warning-bg:               lighten($brand-warning, 40%) !default;
$state-warning-border:           darken($state-warning-bg, 20%) !default;

$state-danger-text:              $brand-danger !default;
$state-danger-bg:                lighten($brand-danger, 50%) !default;
$state-danger-border:            darken($state-danger-bg, 20%) !default;
