<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  {% include navigation-top.html %}

  {{ content }}

  {% include navigation-bottom.html %}

  <!-- jQuery first, then Bootstrap JS. -->
  <script src="./js/jquery.js"></script>
  <script src="./js/bootstrap.js"></script>
</body>

</html>
